html,
body,
#appContainer {
    height: 100%;
    min-height: 100%;
    font-size: 12px;
}

.content-container {
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
}

.border-bottom-gray {
    border-bottom: thin solid #666;
}

#AppNav {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.nav-item {
    -webkit-app-region: no-drag;
}

.nav-item .btn {
    cursor: default;
}

.input-label {
    display: block;
    font-weight: bold;
}

.form-group {
    position: relative;
}

.form-group .form-control-icon {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    right: 0;
    margin-right: .2rem;
    cursor: pointer;
}

.react-switch-checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.react-switch-label {
    align-items: center;
    background: grey;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: space-between;
    position: relative;
    transition: background-color 0.2s;
    top: -15px;
    width: 50px;
}

.react-switch-label .react-switch-button {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    transition: 0.1s;
    background: var(--bs-gray-200);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked+.react-switch-label .react-switch-button {
    left: calc(100%);
    transform: translateX(-100%);
}

.react-switch-checkbox:checked+.react-switch-label {
    background: var(--bs-green);
}

.react-switch-label:active .react-switch-button {
    width: 30px;
}