html, body, #appContainer {
    height: 100%;
    min-height: 100%;
}

.content-container {
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);
}

.border-bottom-gray {
    border-bottom: thin solid #666;
}

#AppNav {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.nav-item {
    -webkit-app-region: no-drag;
}

.nav-item .btn {
    cursor: default;
}